In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('KPHL.csv', index_col = 'date')
#data set obtained from fivethirtyeight (see url below)
#https://github.com/fivethirtyeight/data/blob/master/us-weather-history/KPHL.csv

In [5]:
df.head()

,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
date,,,,,,,,,,,,
2014-7-1,83,72,93,68,86,52,102,1988,1901,0.00,0.13,1.04
2014-7-2,86,75,96,68,86,52,103,1965,1901,0.21,0.13,1.73
2014-7-3,83,74,92,68,87,54,104,1957,1966,0.09,0.12,3.66
2014-7-4,73,68,78,68,87,52,103,1986,1966,0.04,0.13,2.08
2014-7-5,74,64,83,69,87,55,100,1963,1999,0.00,0.13,4.38

In [6]:
df.rename(columns = {'actual_mean_temp': 'mean_temp', 'actual_min_temp': 'min_temp', 'actual_max_temp': 'max_temp'})

,mean_temp,min_temp,max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
date,,,,,,,,,,,,
2014-7-1,83,72,93,68,86,52,102,1988,1901,0.00,0.13,1.04
2014-7-2,86,75,96,68,86,52,103,1965,1901,0.21,0.13,1.73
2014-7-3,83,74,92,68,87,54,104,1957,1966,0.09,0.12,3.66
2014-7-4,73,68,78,68,87,52,103,1986,1966,0.04,0.13,2.08
2014-7-5,74,64,83,69,87,55,100,1963,1999,0.00,0.13,4.38
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-6-26,76,68,84,67,85,51,100,1960,1952,0.00,0.12,2.77
2015-6-27,67,63,71,67,86,50,97,1965,1963,1.34,0.10,3.27
2015-6-28,73,66,79,67,86,54,97,1961,1963,0.22,0.11,2.48
2015-6-29,72,63,81,68,86,52,102,1888,1934,0.00,0.12,4.62
2015-6-30,77,67,86,68,86,52,100,1988,1964,1.50,0.12,1.56

In [7]:
df.describe()

,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.00000,365.000000,365.000000,365.000000,365.000000
mean,55.884932,47.265753,63.983562,47.221918,64.723288,28.030137,84.989041,1947.30137,1957.835616,0.124548,0.113781,2.135452
std,18.947380,18.391740,19.886070,15.454917,16.432768,19.379854,12.556242,35.21000,35.722070,0.304216,0.015280,0.931560
min,10.000000,2.000000,17.000000,25.000000,40.000000,-11.000000,61.000000,1872.00000,1874.000000,0.000000,0.080000,0.850000
25%,39.000000,33.000000,46.000000,32.000000,49.000000,9.000000,73.000000,1930.00000,1931.000000,0.000000,0.100000,1.550000
50%,59.000000,50.000000,69.000000,46.000000,66.000000,29.000000,88.000000,1960.00000,1957.000000,0.000000,0.110000,1.880000
75%,73.000000,64.000000,82.000000,63.000000,81.000000,46.000000,97.000000,1969.00000,1990.000000,0.050000,0.120000,2.490000
max,86.000000,77.000000,96.000000,70.000000,87.000000,59.000000,106.000000,2014.00000,2014.000000,2.010000,0.150000,8.020000

In [8]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [9]:
df.hist()

array([[<AxesSubplot:title={'center':'actual_mean_temp'}>,
        <AxesSubplot:title={'center':'actual_min_temp'}>,
        <AxesSubplot:title={'center':'actual_max_temp'}>],
       [<AxesSubplot:title={'center':'average_min_temp'}>,
        <AxesSubplot:title={'center':'average_max_temp'}>,
        <AxesSubplot:title={'center':'record_min_temp'}>],
       [<AxesSubplot:title={'center':'record_max_temp'}>,
        <AxesSubplot:title={'center':'record_min_temp_year'}>,
        <AxesSubplot:title={'center':'record_max_temp_year'}>],
       [<AxesSubplot:title={'center':'actual_precipitation'}>,
        <AxesSubplot:title={'center':'average_precipitation'}>,
        <AxesSubplot:title={'center':'record_precipitation'}>]],
      dtype=object)